@using ERP.RazorComponents.Students
@page "/enrolled"

<div class="heading">
    <h3 style="text-align: center; padding-top: 20px">Enrolled Modules</h3>
</div>

<MudPaper Class="w-100 mx-auto" Elevation="0">
        <MudPaper Class="pa-5 mt-8 mx-auto" Elevation="0" Style="width: 800px;">
        
    </MudPaper>
</MudPaper>

<EnrolledModuleList />

@code {

}
