

<MudCard Outlined="true" Elevation="3" Class="mt-8 mx-auto flex-column" Style="@(($"width: 700px; background:{Colors.LightBlue.Lighten5};"))">
  
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Module No.1</MudText>
        </CardHeaderContent>
    </MudCardHeader>
   
    <MudCardContent>
        <div class="mb-2"><MudText>Type : Core</MudText></div>
        <div class="mb-2"><MudText>Module Coordinator : Ms. ABC Perera</MudText></div>
        <div class="mb-2"><MudText>Teacher : Prof CHR Silva</MudText></div>
    </MudCardContent>

    <MudCardActions class="mt-auto">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mr-2">Enrol</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary">View</MudButton>
    </MudCardActions>
</MudCard>


<MudCard Outlined="true" Elevation="3" Class="mt-8 mx-auto flex-column" Style="@(($"width: 700px; background:{Colors.LightBlue.Lighten5};"))">

    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">Module No.2</MudText>
        </CardHeaderContent>
    </MudCardHeader>

    <MudCardContent>
        <div class="mb-2"><MudText>Type : Core</MudText></div>
        <div class="mb-2"><MudText>Module Coordinator : Ms. ABC Perera</MudText></div>
        <div class="mb-2"><MudText>Teacher : Prof CHR Silva</MudText></div>
    </MudCardContent>

    <MudCardActions class="mt-auto">
        <MudButton Variant="Variant.Filled" Color="Color.Tertiary" Class="mr-2">Enrolled</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary">View</MudButton>
    </MudCardActions>
</MudCard>




@code {

}
